.contacts {
  padding-top: 37px;
  padding-bottom: 39px;
}

.contacts__wrap {
  .container();
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__map {
  height: 457px;
  margin-bottom: 40px;

  background-color: #eae6dd;
  background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;

  @media @retina {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
    background-size: auto, 320px auto;
  }
}

.contacts__list {
  margin: 0;
  padding-bottom: 5px;

  line-height: 30px;

  dt {
    float: left;
  }

  dd {
    margin-bottom: 32px;
    margin-left: 77px;
  }
}

.contacts__mail-link {
  padding-bottom: 4px;

  color: #444444;
  text-decoration: none;

  border-bottom: 1px solid #62d1ba;

  &:hover,
  &:focus {
    color: #46c1ae;

    border-color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);

    border-color: rgba(70, 193, 174, 0.1);
  }
}

@media @tablet-width {
  .contacts {
    padding-top: 65px;
    padding-bottom: 57px;
  }

  .contacts__wrap {
    &--bg-flag {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -15px;
        right: 50px;

        width: 47px;
        height: 82px;

        background: url("../img/icon-flag.svg") no-repeat;
      }
    }
  }

  .contacts__inner--center {
    text-align: center;
  }

  .contacts__title {
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    display: flex;

    font-size: 17px;

    dt {
      min-width: 77px;
    }

    dd {
      width: calc(~"50% - 77px");
      margin: 0;
    }
  }

  .contacts__map {
    margin-top: 50px;
    margin-bottom: 57px;

    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");

    @media @retina {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
      background-size: auto, 768px auto;
    }
  }
}

@media @desktop-width {
  .contacts {
    position: relative;

    min-height: 457px;
    padding-bottom: 105px;
  }

  .contacts__inner {
    box-sizing: border-box;
    width: 50%;
    padding-right: 30px;
    padding-left: 175px;

    &--center {
      text-align: left;
    }
  }

  .contacts__title {
    margin-top: 75px;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__list {
    display: block;
    box-sizing: border-box;


    dd {
      width: auto;
      margin-bottom: 30px;
      margin-left: 77px;
    }
  }

  .contacts__map {
    position: absolute;
    top: 70px;
    left: 50%;

    width: 525px;
    margin: 0;

    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");

    @media @retina {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
      background-size: auto, 525px auto;
    }
  }

  .contacts__wrap--bg-flag::before {
    top: -10px;
    right: auto;
    left: 113px;
  }

  .contacts__button {
    margin-top: 45px;
  }
}
