.page-footer {
  background-color: @page-footer-bg;
}

.page-footer__wrap {
  .container();
}

.page-footer__logo {
  display: none;
}

.page-footer__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  border-bottom: 1px solid @page-footer__social-links-border;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;

  font-weight: 700;
  font-size: 19px;
  color: @page-footer__copyright-color;
  text-decoration: none;

  outline: none;

  svg {
    display: block;
    margin-left: 30px;

    fill: @page-footer__copyright-link-fill;
  }

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);

    svg {
      fill: @page-footer__copyright-link-fill-hover;
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    svg {
      fill: @page-footer__copyright-link-fill-active;
    }
  }
}

@media @tablet-width {
  .page-footer {
    padding-top: 35px;
    padding-bottom: 30px;
  }

  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    margin-right: 80px;
  }

  .page-footer__link {
    display: block;

    svg {
      fill: #231f20;
    }

    &:hover,
    &:focus {
      svg {
        fill: #46c1ae;
      }
    }

    &:active {
      svg {
        fill: rgba(70, 193, 174, 0.3);
      }
    }
  }

  .page-footer__social-links {
    border: none;
  }
}
