.pop-goods {
  padding-top: 27px;
  padding-bottom: 40px;

  background: url("../img/zigzag-line-mobile.svg") repeat-x 0 100%;

  img {
    display: block;
    margin: 0 auto;
  }
}

.pop-goods__wrap {
  .container();
}

.pop-goods__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.pop-goods__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.pop-goods__description {
  padding-top: 7px;
  padding-bottom: 1px;

  line-height: 24px;
}

.pop-goods__table {
  width: 100%;
  margin-bottom: 30px;

  border-collapse: collapse;

  td {
    padding: 10px 10px 10px 0;

    border-bottom: 1px solid #ececec;

    &:first-child {
      padding-right: 20px;
    }
  }
}

.pop-goods__price {
  margin-top: 23px;
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

@media @tablet-width {
  .pop-goods {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .pop-goods__wrap {
    position: relative;
  }

  .pop-goods__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 27px;
  }

  .pop-goods__subtitle {
    position: absolute;
    top: 10px;
    right: 63px;

    width: 100px;

    line-height: 17px;
    text-align: center;
  }

  .pop-goods__inner {
    box-sizing: border-box;
    width: 50%;
    min-height: 315px;
    padding-right: 44px;

    img {
      position: absolute;
      right: 50px;
      bottom: 0;
    }
  }

  .pop-goods__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 19px;
  }

  .pop-goods__table {
    margin-bottom: 55px;

    td:first-child {
      padding-right: 3px;
    }
  }

  .pop-goods__price {
    font-size: 20px;
    margin-bottom: 35px;
  }
}

@media @desktop-width {
  .pop-goods {
    padding-top: 123px;
    padding-bottom: 95px;
  }

  .pop-goods__title {
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }

  .pop-goods__subtitle {
    left: 80px;
    top: 15px;
  }

  .pop-goods__inner {
    padding-right: 58px;
    padding-left: 175px;
  }

  .pop-goods__description {
    margin-bottom: 33px;
  }

  .pop-goods__table {
    margin-bottom: 107px;
  }
}
