.pop-goods {
  padding-bottom: 30px;

  background: url("../img/zigzag-line-mobile.svg") repeat-x 0 100%;

  img {
    display: block;
    margin: 0 auto;
  }
}

.pop-goods__wrap {
  .container();
}

.pop-goods__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.pop-goods__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.pop-goods__table {
  width: 100%;

  border-collapse: collapse;

  td {
    padding: 5px 10px 5px 0;

    border-bottom: 1px solid #ececec;
  }
}

.pop-goods__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
