.products {
  padding-top: 31px;
  padding-bottom: 30px;
}

.products__wrap {
  .container();
}

.products__card {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.products__title {
  .element-invisible();
}

@media @tablet-width {
  .products {
    padding-top: 80px;
    padding-bottom: 52px;
  }

  .products__card {
    margin-bottom: 53px;
  }
}

@media @desktop-width {
  .products {
    padding-top: 128px;
    padding-bottom: 57px;
  }

  .products__wrap {
    display: flex;
    justify-content: space-between;
  }

  .products__card {
    margin-bottom: 0;
  }
}
