.top-menu {
  position: relative;
  z-index: 5;

  background-color: @top-menu-bg;
  box-shadow: 0 1px 0 0 @top-menu-border;
}

.top-menu__wrap {
  position: relative;

  min-width: 320px;
}

.top-menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;

  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  img {
    vertical-align: bottom;
  }
}

.top-menu__nav {
  background-color: @top-menu__nav-bg;
  box-shadow: 0 1px 0 0 @top-menu__nav-border;

  &--closed {
    display: none;
  }

  &--opened {
    position: absolute;

    display: block;
    width: 100%;
  }
}

.top-menu__button {
  position: absolute;
  top: 17px;
  right: 16px;

  margin: 0;
  padding: 15px;

  background-color: transparent;
  border: none;
  outline: none;

  &--opened {
    padding-top: 12px;
    padding-bottom: 12px;

    svg {
      height: 20px;
    }
  }
}

@media @tablet-width {
  .top-menu__wrap {
    display: flex;
    width: 668px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  .top-menu__logo {
    height: 88px;
  }

  .top-menu__button {
    display: none;
  }

  .top-menu__nav {
    display: flex;
    margin-left: auto;

    box-shadow: none;
  }
}

@media @desktop-width {
  .top-menu__wrap {
    width: 1050px;
  }
}
